services:
  - type: web
    name: smart-wardrobe-prototype
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: REPLICATE_API_TOKEN
        sync: false
      - key: OPENWEATHER_API_KEY
        sync: false
